.block {
    padding: 1.2rem;
    margin: 2rem;
    background-color: #26413c;
    /* see https://getcssscan.com/css-box-shadow-examples?ref=beautifulbuttons-bottom : */
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border: 1px solid black;
    border-radius: 8px;
}


.block h1,
.block h2,
.block h3 {
    color: #1a1d1a;
    font-family: "Roboto", sans-serif;
}

.block p {
    color: #1a1d1a;
    font-size: 1.2rem;
    text-shadow: black 1rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
}

.block button,
img {
    position: relative;
    margin-left: 90%; 
    margin-right: 0;
}