.creature-texture {
    width: 150px;
    height: 150px;
}

.creature-info {
    background-color: #f5f5f5;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 15px;
}

.creature-info h2 {
    color: #333;
}

.creature-info p {
    margin: 5px 0;
}

.creature-block{
    display: flex; 
    align-items: center;
}

.creature-block img {
    display: flex; 
    border: white;
    margin-left: 20em;
}



