nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c1baba; 
}

nav li {
    float: left;
}

nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    color: black; 
}

nav li a:hover {
    background-color: #f1f1f1; 
    color: white;
}

.message p {
    font-style: italic;
    font-weight: bold;
    color:brown;
}